:root {
    --text_color: #b3aeae;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;

}



body {
    background: url(../image/mountain_front.jpg) center center fixed;
    background-size: cover;

}


.header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text_color);
    text-transform: uppercase;
    overflow: hidden;
}

.header_tx_1 {
    text-align: center;
    font-size: 6vw;
    letter-spacing: 6vw;
    margin-right: -6vw;

}


.header_tx_1::before,
.header_tx_1::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 15vw;
    height: 2px;
    background-color: var(--text_color);
    position: relative;

}


.header_tx_1::before {
    margin-left: -100%;
    left: -6vw;
}


.header_tx_1::after {
    margin-right: -100%;
}



.header_tx_2 {
    margin-top: 25px;
    font-size: 2vw;
    letter-spacing: 1.5vw;
    margin-right: -1.5vw;

}

a {
    position: absolute;
    color: white;
    text-decoration: none;
    right: 20px;
    bottom: 50%;

}
