body * {
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

a {
    position: absolute;
    text-decoration: none;
    color: black;
    bottom: 50%;
    left: 20px;

}

.pointer_to_right {
    position: absolute;
    color: black;
    text-decoration: none;
    left: calc(100% - 20px);
    bottom: 50%;
}


.container {
    display: flex;
    flex-direction: row;
    gap: 10px;




}

.container {
    /* outline: 1px solid red; */

}

.flex_1 {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0.5;

}

.flex_1>span {
    margin: 15px;
    font-weight: bold;
    position: relative;
    top: -100px;
    left: 50px;
}

.line_2 {
    width: 50vw;
    height: 1px;
    border: 1px solid grey;
    position: relative;
    left: 70px;
    top: -120px;


}


.flex_2>h1 {
    position: relative;
    font-size: 100px;
    letter-spacing: 15px;
    right: 10vw;
    white-space: nowrap;

}


.flex_2 {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;


}

.flex_2>span {
    margin: 0 20vw 0 0;
    font-weight: bold;
}


.triangle {

    width: 200vw;
    height: 100vh;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    background: url('https://goo.su/Ayv0Rg') no-repeat 70%;
    background-size: cover;

}