:root {
    --icon__width: 80px;
    --icon_height: 80px;
}

::-webkit-scrollbar {
    width: 0;
}


body * {
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.grid__container {
    position: absolute;
    display: grid;
    grid-template-rows: 450px 400px;
    grid-auto-rows: minmax(250px, auto);
    grid-row-gap: 100px;
    overflow: hidden;

}

/* .grid__container {
    border: 1px solid black;
} */

img {
    width: 250%;
    height: 100%;
    object-fit: cover;
}



h2 {
    text-transform: uppercase;
}

a {
    position: absolute;
    text-decoration: none;
    color: black;
    bottom: 50%;
    left: 20px;

}

.pointer_to_right {
    position: absolute;
    color: black;
    text-decoration: none;
    left: calc(100% - 20px);
    bottom: 50%;
}




.grid__1 {
    transform: skewY(-5deg) translate(3px, -100px);

}

.grid__1:after {
    content: '';
    display: inline-block;
    width: 50vw;
    border: 1px solid black;
    position: relative;
    float: right;
    margin-top: 50px;

}


.line {}

.grid__2 {}

.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.flex__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex__box {
    flex-basis: 250px;
    height: 250px;
}

.line {
    width: 1px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    top: 25px;


}

.text {
    text-align: center;
}


.icons {
    width: var(--icon__width);
    height: var(--icon_height);
}

.icons1 {
    margin: 0 0 0 10px;
}